.column {
  float: left;
  width: 33.33%; }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; }

.top-half {
  background-color: #4054b2; }

.bottom-half {
  background-color: #efefef;
  padding-top: 100px; }

h1 {
  text-align: center;
  color: white; }

.skills-header {
  color: #757575; }

.top-header {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px; }

.slogan {
  color: white; }

.demo-layout-transparent {
  background: url("../assets/demos/transparent.jpg") center/cover; }

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: #000 87%; }
