$translucent-white:
  rgba(255,255,255,0.3);
$icon-square-length: 300px;
$standard-border: 4px solid black;

.card {
  padding-top: 280px;
}

.card-info {
    float: center;
    width: 49%;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.demo-list-three {
  width: 650px;
}

.top-half {
  background-color: #4054b2;
}

.bottom-half {
  background-color: #efefef;
  padding-bottom: 100px;
}

.mdl-list__item-primary-content {
  text-align: left;
}

.fab {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

h1 {
  text-align: center;
  color: #757575
}

.skills-header {
  color: #757575
}

.profile-top {
  padding-top: 100px;
  height: 300px;
}

.profile-bottom {
  padding-bottom: 30px;
}

.slogan {
  color: #9c9c9c;
}

#profile-card {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: absolute;
  margin-top: -275px;
  width: 50%;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.demo-card-wide.mdl-card.mdl-shadow--2dp {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 50%;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
}

#profile {
  background: url('../img/profile_img.jpg') center / cover;
}

#skills {
  background: url('../img/skills_img.png') center / cover;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: #000 87%;
}

.social-media-buttons {
  padding: 10px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 18px;
    height: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* LinkedIn */
.fa-linkedin {
    background: #0077B5;
    color: white;
}

/* Github */
.fa-github {
    background: #323131;
    color: white;
}

.skills-section {
  padding-top: 300px;
}

.section {
  padding-top: 45px;
}
