$translucent-white:
  rgba(255,255,255,0.3);
$icon-square-length: 300px;
$standard-border: 4px solid black;

.column {
    float: center;
    width: 50%;
    background-color: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.demo-list-three {
  width: 650px;
}

.top-half {
  background-color: #4054b2;
}

.bottom-half {
  background-color: #efefef;
  padding-top: 100px;
  padding-bottom: 100px;
}

h1 {
  text-align: center;
  color: white;
}

.skills-header {
  color: #757575
}

.top-header {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.slogan {
  color: white;
}

.demo-layout-transparent {
  background: url('../assets/demos/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: #000 87%;
}
